@use 'variables' as *;

.hero {
  max-width: $container-max;
  margin-inline: auto;
  color: $white;
  padding: 50px 0;
  text-align: center;

  .contenedor {
    text-align: left !important;
  }

  .card_me {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 12px;
    flex: 0 0 auto;
  }

  .hero-titulo {
    margin: 0 0 28px;
    font-weight: 700;
    line-height: 1.05;
    font-size: 5.3vh;
    text-align: left;

    .nombre {
      color: $color-primary;
      font-weight: 600;
    }
    @media (max-width: $bp) {
      font-size: 4.3vh;
    }
  }

  @media (max-width: $bp) {
    margin: 0 20px;
  }
}

@media (min-width: ($bp + 1)) and (max-width: 1024px) {
  .hero {
    padding: 56px 0;

    .contenedor {
      padding: clamp(56px, 5vw, 80px);
      border-radius: 42px;
      text-align: left !important;
      gap: clamp(16px, 3.2vw, 40px);
    }

    .card_me {
      gap: 10px;
    }

    .hero-titulo {
      font-size: clamp(32px, 4vw, 48px);
      margin-bottom: 24px;
    }
  }
}
