@use 'variables' as *;

.about_me {
  max-width: $container-max;
  margin-inline: auto;
  text-align: left;

  .contacto_foto {
    margin-top: 50px;
    width: 328px;
    height: 328px;
  }
  .contenedor > div {
    flex: 1 1 50%;
    min-width: 0;
  }

  .sub-title{
    color: $color-primary-dark;
  }

  @media (max-width: $bp) {
    .contenedor > div {
      flex-basis: 100%;
    }
    margin: 0 20px;
  }
}

@media (min-width: ($bp + 1)) and (max-width: 1024px) {
  .about_me {
    margin: 0 20px;

    .contenedor > div {
      flex: 1 1 48%;
    }

    .contacto_foto {
      width: 300px;
      height: 300px;
      margin-top: 40px;
    }
  }
}