$color-text: #1a1a1a;
$color-primary: #5de0a8;
$color-primary-dark: #4ea077;
$white: #ffffff;
$gray: #e5e7eb;

$font-main: "Poppins", sans-serif;
$container-max: 1200px;

$bp: 780px;
$bp-md: 768px;
$bp-sm: 640px;
